extends ../layouts/default

block main
  div
    h2.page-title.m-t-none.pull-left #{title}
    .pull-right
      span.btn.btn-success.fileinput-button.m-r-sm
        i.i.i-file-xml
        span.m-l-xs 导入剧场Url书签
        input(id="fileupload" type="file" name="files")
      a.btn.btn-primary-new.pull-right(href="/trick/create" title="Create New Trick") 注册新剧场
    .clearfix

    section.block-tricks-user.block-tricks(data-id="#{User._id}", data-username="#{User.username}", data-page="#{page}", data-url="#{origin_url}")
      .clearfix
