extends ../layouts/default

block main
  .profile-card.panel-body.b.bg-white
    .media
      a.pull-left(href='#')
        img.media-object.img-circle(src='#{user.photo_profile}', width='100', height='100')
      .media-body
        h4.media-heading @#{user.username}
        p
          span.label.label-primary
            span.tricks-count 0
            | &nbsp; 剧场

          | &nbsp;
          span.label.label-success 0 关注
        p
          a.btn.btn-xs.btn-lightorange(href='#')
            span.fa.fa-envelope-o &nbsp; 信息
          | &nbsp;
          a.btn.btn-xs.btn-lightorange(href='#')
            span.fa.fa-star &nbsp; 喜欢

  section.m-t-md.block-tricks-user.block-tricks(data-id="#{user._id}", data-username="#{user.username}", data-page="#{page}", data-url="#{origin_url}")
    .clearfix
